$font-icon--interface--add: "\E001";
$font-icon--interface--arrow-down: "\E002";
$font-icon--interface--book-dev: "\E003";
$font-icon--interface--book: "\E004";
$font-icon--interface--bookmark: "\E005";
$font-icon--interface--checkbox-mix: "\E006";
$font-icon--interface--checkbox-off: "\E007";
$font-icon--interface--checkbox-on: "\E008";
$font-icon--interface--clock: "\E009";
$font-icon--interface--close: "\E00A";
$font-icon--interface--code: "\E00B";
$font-icon--interface--coin: "\E00C";
$font-icon--interface--copy: "\E00D";
$font-icon--interface--cube: "\E00E";
$font-icon--interface--download: "\E00F";
$font-icon--interface--external: "\E010";
$font-icon--interface--eye: "\E011";
$font-icon--interface--eyedrop: "\E012";
$font-icon--interface--file: "\E013";
$font-icon--interface--flag: "\E014";
$font-icon--interface--flask: "\E015";
$font-icon--interface--floppy-disk: "\E016";
$font-icon--interface--folder-open: "\E017";
$font-icon--interface--folder: "\E018";
$font-icon--interface--gear: "\E019";
$font-icon--interface--grid: "\E01A";
$font-icon--interface--hammer: "\E01B";
$font-icon--interface--hand-left: "\E01C";
$font-icon--interface--home: "\E01D";
$font-icon--interface--id-card: "\E01E";
$font-icon--interface--information: "\E01F";
$font-icon--interface--light-bulb: "\E020";
$font-icon--interface--link: "\E021";
$font-icon--interface--list: "\E022";
$font-icon--interface--lock-open: "\E023";
$font-icon--interface--lock: "\E024";
$font-icon--interface--log-begin: "\E025";
$font-icon--interface--log-debug: "\E026";
$font-icon--interface--log-detail: "\E027";
$font-icon--interface--log-end: "\E028";
$font-icon--interface--log-error: "\E029";
$font-icon--interface--log-fatal: "\E02A";
$font-icon--interface--log-info: "\E02B";
$font-icon--interface--log-init: "\E02C";
$font-icon--interface--log-log: "\E02D";
$font-icon--interface--log-notice: "\E02E";
$font-icon--interface--log-shutdown: "\E02F";
$font-icon--interface--log-success: "\E030";
$font-icon--interface--log-trace: "\E031";
$font-icon--interface--log-warn: "\E032";
$font-icon--interface--magnifying-glass: "\E033";
$font-icon--interface--moon: "\E034";
$font-icon--interface--network: "\E035";
$font-icon--interface--package: "\E036";
$font-icon--interface--radio-off: "\E037";
$font-icon--interface--radio-on: "\E038";
$font-icon--interface--reset: "\E039";
$font-icon--interface--sun: "\E03A";
$font-icon--interface--switches: "\E03B";
$font-icon--interface--synticore: "\E03C";
$font-icon--color--interface--synticore: #5599ff;
$font-icon--interface--tag: "\E03D";
$font-icon--interface--toolbox: "\E03E";
$font-icon--interface--trashcan-open: "\E03F";
$font-icon--interface--trashcan: "\E040";
$font-icon--interface--window: "\E041";
$font-icon--interface--wrench: "\E042";