$CONFIG_REQUIRE_SITE_TITLE: "Synticore Browser Developer Tools";
$CONFIG_REQUIRE_SITE_URL: "https://example.invalid/browsersync";
$CONFIG_OPTION_BRAND_ADJUST_FOREGROUND_ALIGNMENT_X: "center";
$CONFIG_OPTION_BRAND_ADJUST_FOREGROUND_ALIGNMENT_Y: "center";
$CONFIG_OPTION_BRAND_ADJUST_FOREGROUND_BLUR: 0;
$CONFIG_OPTION_BRAND_ADJUST_BACKGROUND_ALIGNMENT_X: "center";
$CONFIG_OPTION_BRAND_ADJUST_BACKGROUND_ALIGNMENT_Y: "center";
$CONFIG_OPTION_BRAND_ADJUST_BACKGROUND_BLUR: 0;
$CONFIG_OPTION_BRAND_SIZE_ICO_0: 16;
$CONFIG_OPTION_BRAND_SIZE_ICO_1: 32;
$CONFIG_OPTION_BRAND_SIZE_ICO_2: 48;
$CONFIG_OPTION_BRAND_SIZE_ICO_3: 64;
$CONFIG_OPTION_BRAND_SIZE_ICO_4: 96;
$CONFIG_OPTION_BRAND_SIZE_ICO_5: 128;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-57X57_PNG_WIDTH: 57;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-57X57_PNG_HEIGHT: 57;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-60X60_PNG_WIDTH: 60;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-60X60_PNG_HEIGHT: 60;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-72X72_PNG_WIDTH: 72;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-72X72_PNG_HEIGHT: 72;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-76X76_PNG_WIDTH: 76;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-76X76_PNG_HEIGHT: 76;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-114X114_PNG_WIDTH: 114;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-114X114_PNG_HEIGHT: 114;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-120X120_PNG_WIDTH: 120;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-120X120_PNG_HEIGHT: 120;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-144X144_PNG_WIDTH: 144;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-144X144_PNG_HEIGHT: 144;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-152X152_PNG_WIDTH: 152;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_APPLE-TOUCH-ICON-152X152_PNG_HEIGHT: 152;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-70X70_PNG_WIDTH: 70;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-70X70_PNG_HEIGHT: 70;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_FAVICON-192_PNG_WIDTH: 192;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_FAVICON-192_PNG_HEIGHT: 192;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_FAVICON-196_PNG_WIDTH: 196;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_FAVICON-196_PNG_HEIGHT: 196;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_FAVICON-512_PNG_WIDTH: 512;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_FAVICON-512_PNG_HEIGHT: 512;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-128X128_PNG_WIDTH: 128;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-128X128_PNG_HEIGHT: 128;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-144X144_PNG_WIDTH: 144;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-144X144_PNG_HEIGHT: 144;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-150X150_PNG_WIDTH: 150;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-150X150_PNG_HEIGHT: 150;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-270X270_PNG_WIDTH: 270;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-270X270_PNG_HEIGHT: 270;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-310X150_PNG_WIDTH: 310;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-310X150_PNG_HEIGHT: 150;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-310X310_PNG_WIDTH: 310;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-310X310_PNG_HEIGHT: 310;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-558X270_PNG_WIDTH: 558;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-558X270_PNG_HEIGHT: 270;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-558X558_PNG_WIDTH: 558;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_MSTILE-558X558_PNG_HEIGHT: 558;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_PAGETHUMB_PNG_WIDTH: 512;
$CONFIG_OPTION_BRAND_SIZE_IMAGE_PAGETHUMB_PNG_HEIGHT: 256;
$CONFIG_OPTION_BROWSER_KEY: "";
$CONFIG_OPTION_BROWSER_CERT: "";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_PATH_CSS: "css/module";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_PATH_JS: "js/module";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_THEME_DEFAULT: "prism";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_THEME_INCLUDE_0: "prism";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_THEME_BUNDLE_0: "prism";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_LANGUAGE_INCLUDE_0: "html";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_LANGUAGE_INCLUDE_1: "css";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_LANGUAGE_INCLUDE_2: "javascript";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_PLUGIN_INCLUDE_0: "autolinker";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_PLUGIN_INCLUDE_1: "copy-to-clipboard";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_PLUGIN_INCLUDE_2: "data-uri-highlight";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_PLUGIN_INCLUDE_3: "inline-color";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_PLUGIN_INCLUDE_4: "line-numbers";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_PLUGIN_INCLUDE_5: "match-braces";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_PLUGIN_INCLUDE_6: "show-language";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_LIVE_PATH: "module/prism-live";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_LIVE_INCLUDE_0: "css";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_LIVE_INCLUDE_1: "javascript";
$CONFIG_OPTION_HIGHLIGHT_SYNTAX_LIVE_INCLUDE_2: "markup";
$CONFIG_OPTION_IMAGE_MINIFY_FILTER_INCLUDE_0: "**/*";
$CONFIG_OPTION_IMAGE_MINIFY_MOZJPEG_QUALITY: 75;
$CONFIG_OPTION_IMAGE_MINIFY_OPTIPNG_OPTIMIZATIONLEVEL: 5;
$CONFIG_OPTION_IMAGE_MINIFY_OPTIPNG_STRIP: "all";
$CONFIG_OPTION_IMAGE_MINIFY_SVGO_PLUGINS_0_NAME: "removeViewBox";
$CONFIG_OPTION_IMAGE_MINIFY_SVGO_PLUGINS_1_NAME: "removeMetadata";
$CONFIG_OPTION_IMAGE_MINIFY_SVGO_PLUGINS_2_NAME: "removeDesc";
$CONFIG_OPTION_IMAGE_MINIFY_SVGO_PLUGINS_3_NAME: "removeTitle";
$CONFIG_OPTION_IMAGE_MINIFY_SVGO_PLUGINS_4_NAME: "removeUselessDefs";
$CONFIG_OPTION_IMAGE_WATERMARK_0_PATTERN: "**/*.watermark.*";
$CONFIG_OPTION_IMAGE_WATERMARK_0_LAYERS_0_IMAGE: "brand/_watermark.png";
$CONFIG_OPTION_IMAGE_WATERMARK_0_LAYERS_0_GRAVITY: "Center";
$CONFIG_OPTION_IMAGE_WATERMARK_0_LAYERS_0_OPACITY: 37.5;
$CONFIG_OPTION_IMAGE_WATERMARK_0_LAYERS_0_RESIZE: 1;
$CONFIG_OPTION_IMAGE_WATERMARK_0_LAYERS_0_BACKGROUND: "none";
$CONFIG_OPTION_IMAGE_WATERMARK_0_LAYERS_0_GMOPTIONS: "-tile";
$CONFIG_OPTION_MARKDOWN_INCLUDE_PATH: "in/_html/markdown";
$CONFIG_OPTION_NAVIGATION_BREADCRUMB_BASE_PATH: "";
$CONFIG_OPTION_NAVIGATION_BREADCRUMB_REPLACE_TEXT: "<!-- breadcrumb -->";
$CONFIG_OPTION_NAVIGATION_BREADCRUMB_ROOT_CONTENT: "Home";
$CONFIG_OPTION_NAVIGATION_SHARED_IGNORE_PATTERNS_0: "index.html";
$CONFIG_OPTION_NAVIGATION_SHARED_IGNORE_PATTERNS_1: "404.html";
$CONFIG_OPTION_NAVIGATION_SHARED_IGNORE_PATTERNS_2: "503.html";
$CONFIG_OPTION_NAVIGATION_TOC_DEPTH: 4;
$CONFIG_OPTION_NAVIGATION_TOC_HEADER_PREPEND: "<span class="counter"></span>";
$CONFIG_OPTION_NAVIGATION_TOC_HEADER_PREPEND_SELECTORS: "h2,h3,h4,h5,h6";
$CONFIG_OPTION_NAVIGATION_TOC_IGNORE_CLASS: "toc-ignore";
$CONFIG_OPTION_NAVIGATION_TOC_REPLACE_TEXT: "<!-- toc -->";
$CONFIG_OPTION_NAVIGATION_TOC_SELECTORS: "h1,h2,h3,h4,h5,h6";
$CONFIG_OPTION_PACKAGE_HTML_IGNORE_CLASS_0: "no-package";
$CONFIG_OPTION_PACKAGE_IGNORE_0: "no-package";
$CONFIG_OPTION_PACKAGE_TARGETS_0_SUFFIX: "";
$CONFIG_OPTION_PACKAGE_TARGETS_0_PATHS_0_SOURCE: "out";
$CONFIG_OPTION_PACKAGE_TARGETS_0_PATHS_0_DESTINATION: "";
$CONFIG_OPTION_PATH_IGNORE_PREFIX: "_";
$CONFIG_OPTION_PATH_IGNORE_SITEMAP_0: "404";
$CONFIG_OPTION_PATH_IGNORE_SITEMAP_1: "503";
$CONFIG_OPTION_REPLACE_DELIMITER_OPEN: "[[";
$CONFIG_OPTION_REPLACE_DELIMITER_CLOSE: "]]";
$CONFIG_OPTION_TITLE_COMPOSE_DIRDEPTH: -1;
$CONFIG_OPTION_TITLE_COMPOSE_DIRORDER: "leafToRoot";
$CONFIG_OPTION_TITLE_COMPOSE_DIRJOINER: " - ";
$CONFIG_OPTION_TITLE_COMPOSE_TITLEJOINER: " - ";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_0: "API";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_1: "CPU";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_2: "CSS";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_3: "DB";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_4: "DOM";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_5: "FAQ";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_6: "FTP";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_7: "GPU";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_8: "HTML";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_9: "HTTP";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_10: "HTTPS";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_11: "ID";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_12: "IP";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_13: "JS";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_14: "JSON";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_15: "OS";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_16: "PDF";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_17: "RAM";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_18: "REST";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_19: "SQL";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_20: "SSH";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_21: "SVG";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_22: "UI";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_23: "URL";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_24: "UUID";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_25: "UX";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_26: "XML";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_27: "2D";
$CONFIG_OPTION_TITLE_NAME_WORD_ACRONYMS_28: "3D";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_0: "a";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_1: "an";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_2: "and";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_3: "as";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_4: "at";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_5: "but";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_6: "by";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_7: "for";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_8: "from";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_9: "in";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_10: "into";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_11: "like";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_12: "near";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_13: "nor";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_14: "of";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_15: "off";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_16: "on";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_17: "onto";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_18: "or";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_19: "out";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_20: "over";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_21: "so";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_22: "the";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_23: "to";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_24: "up";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_25: "upon";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_26: "with";
$CONFIG_OPTION_TITLE_NAME_WORD_LOWERCASES_27: "yet";
$CONFIG_OPTION_TITLE_NAME_WORD_PROPERCASES_0: "JavaScript";
$CONFIG_OPTION_TITLE_NAME_WORD_PROPERCASES_1: "Synticore";
$CONFIG_OPTION_TITLE_NAME_SEPARATOR_SEPARATORSTOSPACE_0: "_";
$CONFIG_OPTION_TITLE_NAME_SEPARATOR_SEPARATORSTOSPACE_1: "-";
$CONFIG_OPTION_TITLE_NAME_SEPARATOR_WORDSPLITPATTERN: "[\s_\-]+";
$CONFIG_OPTION_TITLE_NAME_SEPARATOR_WORDJOINSEPARATOR: " ";
$CONFIG_OPTION_TITLE_SOURCE: "filename";
$CONFIG_OPTION_WATCH_DELAY_BROWSER: 1250;
$CONFIG_OPTION_WATCH_DELAY_CHANGE: 750;
$CONFIG_CUSTOM_BRAND_SLOGAN: "Watch-time debugging, editing, and fallback tools for Synticore Browser.";
$CONFIG_CUSTOM_BRAND_COLOR: #0f172a;
$CONFIG_CUSTOM_BRAND_COPYRIGHT_YEARS: "2026";
$CONFIG_CUSTOM_SITE_AUTHOR_COPYRIGHT_YEARS: "2026";
$CONFIG_CUSTOM_SITE_AUTHOR_NAME: "Cure Interactive";
$CONFIG_CUSTOM_SITE_AUTHOR_URL: "/";