$font-icon--synticore-dev-interface--arrow-down: "\E001";
$font-icon--synticore-dev-interface--browsersync: "\E002";
$font-icon--color--synticore-dev-interface--browsersync: #f24747;
$font-icon--synticore-dev-interface--code: "\E003";
$font-icon--synticore-dev-interface--copy: "\E004";
$font-icon--synticore-dev-interface--external: "\E005";
$font-icon--synticore-dev-interface--eye: "\E006";
$font-icon--synticore-dev-interface--grid: "\E007";
$font-icon--synticore-dev-interface--grip: "\E008";
$font-icon--synticore-dev-interface--hand-left: "\E009";
$font-icon--synticore-dev-interface--information: "\E00A";
$font-icon--synticore-dev-interface--log-error: "\E00B";
$font-icon--synticore-dev-interface--log-info: "\E00C";
$font-icon--synticore-dev-interface--log-log: "\E00D";
$font-icon--synticore-dev-interface--log-warn: "\E00E";
$font-icon--synticore-dev-interface--magnifying-glass: "\E00F";
$font-icon--synticore-dev-interface--memory-card: "\E010";
$font-icon--synticore-dev-interface--switches: "\E011";
$font-icon--synticore-dev-interface--synticore: "\E012";
$font-icon--color--synticore-dev-interface--synticore: #5599ff;
$font-icon--synticore-dev-interface--temperature: "\E013";
$font-icon--synticore-dev-interface--tools: "\E014";
$font-icon--synticore-dev-interface--trash: "\E015";