    </div> <!-- .frame--content -->
  </main>

  <footer>
    <div class="frame--content">
      <p>
        Copyright [[CONFIG_CUSTOM_BRAND_COPYRIGHT_YEARS]] [[CONFIG_CUSTOM_SITE_AUTHOR_NAME]].
      </p>
    </div>
  </footer>

  <script src="/asset/js/main.min.js?v=[[AUTOMATIC_FILE_CHECKSUM(/asset/js/main.min.js)]]"></script>

  @@if (context.scripts) {
    @@for (var i = 0; i < context.scripts.length; i++) {
      <script src="`+context.scripts[i]+`?v=[[AUTOMATIC_FILE_CHECKSUM(`+context.scripts[i]+`)]]"></script>
    }
  }

</body>
</html>
